#CourseList {
  width: 80%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-inline: auto;
}

#CourseList tr:nth-child(1) th {
  text-align: center;
  background-color: transparent;
}

#CourseList th {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: #f5f5f5;
}

#CourseList td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
